<!DOCTYPE html>
<html>
<body>

<h1>Display Text Input Fields</h1>
<form action="/added">

  <label for="book_name">Enter the name of the book: </label>
  <input type="text" name="name" id="book_name" ><br><br>

  <label for="genre">Genre: </label>
  <input type="text" id="genre" ><br><br>

  <label for="author">Author's name: </label>
  <input type="text" id="author" ><br><br>

  <label for="page_count">Number of pages: </label>
  <input type="text" id="page_count" ><br><br>

  <label for="ISBN">ISBN: </label>
  <input type="text" id="ISBN" ><br><br>

  <label for="price">Price: </label>
  <input type="text" id="price" ><br><br>
  <button  id="button">Click me</button>
</form>


<p >Click on the submit button to submit the form.</p>
</body>
</html>
